In [153]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [154]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.expand_frame_repr", False)
raw_df = pd.read_csv("data/raw/products_raw.csv")
raw_df.head()

         id    name price currency  created_at  updated_at
0  SKU-1001   shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   pants   520      SEK  2024/02/15  2024/02/15
2  SKU-1003  shirts   450      SEK         NaN         NaN
3       NaN  jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [ ]:
from pipeline.transform import clean_whitespace

clean_df = clean_whitespace(raw_df)
print(clean_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   pants   520      SEK  2024/02/15  2024/02/15
2  SKU-1003  shirts   450      SEK         NaN         NaN
3       NaN  jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [ ]:
from pipeline.transform import case_normalization

clean_df = case_normalization(clean_df)
print(clean_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   Shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   Pants   520      SEK  2024/02/15  2024/02/15
2  SKU-1003  Shirts   450      SEK         NaN         NaN
3       NaN  Jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [ ]:
from pipeline.transform import standardize_date_format

clean_df = standardize_date_format(clean_df)
print(clean_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   Shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   Pants   520      SEK  2024-02-15  2024-02-15
2  SKU-1003  Shirts   450      SEK         NaN         NaN
3       NaN  Jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [ ]:
from pipeline.transform import convert_to_datetime

clean_df = convert_to_datetime(clean_df)
print(clean_df)

          id           name          price currency created_at updated_at
0   SKU-1001          Shoes            799      SEK 2024-01-10 2024-01-10
1   SKU-1002          Pants            520      SEK 2024-02-15 2024-02-15
2   SKU-1003         Shirts            450      SEK        NaT        NaT
3        NaN         Jacket           -200      SEK        NaT        NaT
4   SKU-1005            NaN            NaN      NaN        NaT        NaT
5   SKU-1006  Designer Coat            NaN      SEK 2024-05-01 2024-05-01
6        NaN            Hat           free      SEK        NaT        NaT
7   SKU-1008         Gloves            120      NaN 2024-06-20 2024-06-20
8   SKU-1009          Socks             99      SEK 2024-02-01 2024-02-01
9   SKU-1010          Boots           1500      SEK 2024-02-15 2024-02-14
10  SKU-1011          Scarf            200      SEK 2024-03-01 2024-03-01
11  SKU-1012           Belt            300      SEK 2024-03-10 2024-03-10
12  SKU-1013            Cap             75      SEK 2024-04-01 2024-04-01
13  SKU-1014        T-Shirt              0      SEK 2024-04-10 2024-04-10
14  SKU-1015         Hoodie            -50      SEK 2024-04-15 2024-04-15
15  SKU-1016           Coat           2500      SEK 2024-05-01 2024-05-01
16  SKU-1017          Jeans            800      SEK 2024-05-05 2024-05-05
17  SKU-1018       Sneakers           1200      SEK 2024-05-10 2024-05-10
18  SKU-1019        Sandals            400      SEK 2024-05-15 2024-05-15
19  SKU-1020          Watch          15000      SEK 2024-06-01 2024-06-01
20  SKU-1021           Ring          25000      SEK 2024-06-05 2024-06-05
21  SKU-1022       Bracelet            500      SEK 2024-06-10 2024-06-03
22  SKU-1023       Necklace            650      SEK 2024-06-15 2024-06-15
23  SKU-1024     Sunglasses            900      SEK 2024-07-01 2024-07-01
24  SKU-1025       Backpack           1100      SEK 2024-07-05 2024-07-05
25  SKU-1026       Umbrella            300      SEK 2024-07-10 2024-07-10
26  SKU-1027  Winter Jacket           3500      SEK 2024-07-15 2024-07-15
27  SKU-1028         Shorts            450      SEK 2024-08-01 2024-08-01
28  SKU-1029          Skirt            500      SEK 2024-08-05 2024-08-05
29  SKU-1030         Gloves            200      SEK 2024-08-10 2024-08-10
30  SKU-1031        Mittens            220      SEK 2024-08-15 2024-08-15
31  SKU-1032           Suit           5000      SEK 2024-09-01 2024-09-01
32  SKU-1033            Tie            150      SEK 2024-09-05 2024-09-05
33  SKU-1034         Blazer           2200      SEK 2024-09-10 2024-09-10
34  SKU-1035           Polo            600      SEK 2024-09-15 2024-09-15
35  SKU-1036       Leggings            350      SEK 2024-10-01 2024-10-01
36  SKU-1037      Tracksuit           1200      SEK 2024-10-05 2024-10-05
37  SKU-1038       Swimsuit            700      SEK 2024-10-10 2024-10-10
38  SKU-1039           Coat         999999      SEK 2024-10-15 2024-10-15
39  SKU-1040          Parka           4500      SEK 2024-11-01 2024-11-01
40  SKU-1041         Beanie            180      SEK 2024-11-05 2024-11-05
41  SKU-1042       Earmuffs            130      SEK 2024-11-10 2024-11-10
42  SKU-1043       Cardigan            NaN      SEK 2024-11-15 2024-11-15
43  SKU-1044           Vest            800      SEK 2024-12-01 2024-12-01
44  SKU-1045        Loafers           1100      SEK 2024-12-05 2024-12-05
45  SKU-1046       Sneakers           1000      SEK 2024-12-10 2024-12-10
46  SKU-1047          Heels           1500      SEK 2024-12-15 2024-12-15
47  SKU-1048      Flipflops            100      SEK 2024-12-20 2024-12-20
48  SKU-1049           Robe            900      SEK 2024-12-25 2024-12-25
49  SKU-1050        Pyjamas            600      SEK 2025-01-01 2025-01-01
50  SKU-1051     Suspenders            250      SEK 2025-01-05 2025-01-05
51  SKU-1052           Coat  not_available      SEK 2025-01-10 2025-01-01
52  SKU-1053            Cap             85      SEK 2025-01-15 2025-01-15
53  SKU-1054            NaN            450      SEK 2025-02-01 2025-02-01
54  SKU-1055          Scarf            300      NaN 2025-02-05 2025-02-05

In [ ]:
from pipeline.transform import convert_to_numeric
clean_df = convert_to_numeric(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT
3        NaN         Jacket    -200.0      SEK        NaT        NaT
4   SKU-1005            NaN       NaN      NaN        NaT        NaT
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01
6        NaN            Hat       NaN      SEK        NaT        NaT
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05

In [ ]:
from pipeline.transform import missing_data

clean_df = missing_data(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10         False
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15         False
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True
6        NaN            Hat       NaN      SEK        NaT        NaT          True
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01         False
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01         False
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10         False
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01         False
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05         False
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10         False
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15         False
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15         False
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01         False
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05         False
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10         False
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01         False
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05         False
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10         False
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15         False
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05         False
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10         False
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15         False
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01         False
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05         False
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10         False
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05         False
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10         False
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01         False
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05         False
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10         False
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15         False
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20         False
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25         False
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01         False
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05         False
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15         False
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True

In [ ]:
from pipeline.transform import date_violation

clean_df = date_violation(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data  date_violation
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10         False           False
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15         False           False
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01         False           False
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01         False           False
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10         False           False
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01         False           False
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05         False           False
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10         False           False
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15         False           False
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15         False           False
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01         False           False
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05         False           False
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10         False           False
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01         False           False
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05         False           False
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10         False           False
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15         False           False
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05         False           False
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10         False           False
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15         False           False
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01         False           False
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05         False           False
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10         False           False
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05         False           False
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10         False           False
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01         False           False
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05         False           False
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10         False           False
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15         False           False
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20         False           False
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25         False           False
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01         False           False
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05         False           False
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15         False           False
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False

In [ ]:
from pipeline.transform import duplicates

clean_df = duplicates(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10         False           False       False          False
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15         False           False       False          False
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False       False          False
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False       False          False
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False       False          False
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False       False          False
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False       False          False
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01         False           False       False          False
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01         False           False       False          False
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10         False           False       False          False
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01         False           False       False          False
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False       False          False
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05         False           False       False          False
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10         False           False       False          False
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15         False           False       False          False
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15         False           False       False          False
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01         False           False       False          False
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05         False           False       False          False
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10         False           False       False          False
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01         False           False       False          False
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05         False           False       False          False
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10         False           False       False          False
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15         False           False       False          False
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05         False           False       False          False
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10         False           False       False          False
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15         False           False       False          False
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01         False           False       False          False
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05         False           False       False          False
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10         False           False       False          False
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05         False           False       False          False
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10         False           False       False          False
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False       False          False
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01         False           False       False          False
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05         False           False       False          False
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10         False           False       False          False
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15         False           False       False          False
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20         False           False       False          False
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25         False           False       False          False
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01         False           False       False          False
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05         False           False       False          False
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True       False          False
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15         False           False       False          False
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False       False          False
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False       False          False

In [ ]:
from pipeline.transform import negative_value

clean_df = negative_value(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10         False           False       False          False           False
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15         False           False       False          False           False
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False           False
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False       False          False            True
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False       False          False           False
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False       False          False           False
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False       False          False           False
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False       False          False           False
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01         False           False       False          False           False
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01         False           False       False          False           False
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10         False           False       False          False           False
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01         False           False       False          False           False
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False       False          False            True
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False            True
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05         False           False       False          False           False
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10         False           False       False          False           False
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15         False           False       False          False           False
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True           False
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True           False
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15         False           False       False          False           False
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01         False           False       False          False           False
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05         False           False       False          False           False
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10         False           False       False          False           False
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True           False
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01         False           False       False          False           False
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05         False           False       False          False           False
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10         False           False       False          False           False
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15         False           False       False          False           False
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True           False
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05         False           False       False          False           False
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10         False           False       False          False           False
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15         False           False       False          False           False
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01         False           False       False          False           False
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05         False           False       False          False           False
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10         False           False       False          False           False
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True           False
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True           False
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05         False           False       False          False           False
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10         False           False       False          False           False
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False       False          False           False
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01         False           False       False          False           False
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05         False           False       False          False           False
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10         False           False       False          False           False
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15         False           False       False          False           False
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20         False           False       False          False           False
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25         False           False       False          False           False
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01         False           False       False          False           False
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05         False           False       False          False           False
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True       False          False           False
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15         False           False       False          False           False
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False       False          False           False
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False       False          False           False

In [ ]:
from pipeline.transform import price_outliers_high

clean_df = price_outliers_high(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10         False           False       False          False           False
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15         False           False       False          False           False
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False           False
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False       False          False            True
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False       False          False           False
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False       False          False           False
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False       False          False           False
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False       False          False           False
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01         False           False       False          False           False
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01         False           False       False          False           False
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10         False           False       False          False           False
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01         False           False       False          False           False
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False       False          False            True
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False            True
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05         False           False       False          False           False
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10         False           False       False          False           False
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15         False           False       False          False           False
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True           False
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True           False
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15         False           False       False          False           False
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01         False           False       False          False           False
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05         False           False       False          False           False
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10         False           False       False          False           False
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True           False
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01         False           False       False          False           False
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05         False           False       False          False           False
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10         False           False       False          False           False
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15         False           False       False          False           False
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True           False
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05         False           False       False          False           False
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10         False           False       False          False           False
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15         False           False       False          False           False
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01         False           False       False          False           False
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05         False           False       False          False           False
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10         False           False       False          False           False
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True           False
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True           False
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05         False           False       False          False           False
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10         False           False       False          False           False
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False       False          False           False
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01         False           False       False          False           False
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05         False           False       False          False           False
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10         False           False       False          False           False
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15         False           False       False          False           False
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20         False           False       False          False           False
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25         False           False       False          False           False
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01         False           False       False          False           False
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05         False           False       False          False           False
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True       False          False           False
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15         False           False       False          False           False
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False       False          False           False
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False       False          False           False

In [ ]:
from pipeline.transform import date_violation

clean_df = date_violation(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10         False           False       False          False           False
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15         False           False       False          False           False
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False           False
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False       False          False            True
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False       False          False           False
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False       False          False           False
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False       False          False           False
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False       False          False           False
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01         False           False       False          False           False
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01         False           False       False          False           False
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10         False           False       False          False           False
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01         False           False       False          False           False
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False       False          False            True
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False            True
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05         False           False       False          False           False
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10         False           False       False          False           False
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15         False           False       False          False           False
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True           False
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True           False
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15         False           False       False          False           False
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01         False           False       False          False           False
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05         False           False       False          False           False
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10         False           False       False          False           False
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True           False
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01         False           False       False          False           False
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05         False           False       False          False           False
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10         False           False       False          False           False
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15         False           False       False          False           False
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True           False
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05         False           False       False          False           False
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10         False           False       False          False           False
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15         False           False       False          False           False
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01         False           False       False          False           False
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05         False           False       False          False           False
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10         False           False       False          False           False
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True           False
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True           False
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05         False           False       False          False           False
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10         False           False       False          False           False
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False       False          False           False
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01         False           False       False          False           False
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05         False           False       False          False           False
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10         False           False       False          False           False
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15         False           False       False          False           False
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20         False           False       False          False           False
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25         False           False       False          False           False
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01         False           False       False          False           False
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05         False           False       False          False           False
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True       False          False           False
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15         False           False       False          False           False
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False       False          False           False
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False       False          False           False

In [ ]:
from pipeline.transform import categorize_for_review

clean_df = categorize_for_review(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price                   review_reason
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False           False                  Missing data;
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False       False          False            True  Missing data; Negative price;
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False       False          False           False                  Missing data;
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False       False          False           False                  Missing data;
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False       False          False           False                  Missing data;
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False       False          False           False                  Missing data;
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False                  Invalid date;
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False       False          False            True                Negative price;
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False            True                Negative price;
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False                 Price outlier;
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True           False                 Price outlier;
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True           False                 Price outlier;
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False                  Invalid date;
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True           False                 Price outlier;
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True           False                 Price outlier;
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True           False                 Price outlier;
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True           False                 Price outlier;
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False       False          False           False                  Missing data;
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True       False          False           False    Missing data; Invalid date;
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False       False          False           False                  Missing data;
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False       False          False           False                  Missing data;

In [191]:
review_df= categorize_for_review(clean_df)
print(review_df)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price                   review_reason
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False           False                  Missing data;
3        NaN         Jacket    -200.0      SEK        NaT        NaT          True           False       False          False            True  Missing data; Negative price;
4   SKU-1005            NaN       NaN      NaN        NaT        NaT          True           False       False          False           False                  Missing data;
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01          True           False       False          False           False                  Missing data;
6        NaN            Hat       NaN      SEK        NaT        NaT          True           False       False          False           False                  Missing data;
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20          True           False       False          False           False                  Missing data;
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False                  Invalid date;
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10         False           False       False          False            True                Negative price;
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False            True                Negative price;
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False                 Price outlier;
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True           False                 Price outlier;
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True           False                 Price outlier;
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False                  Invalid date;
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True           False                 Price outlier;
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True           False                 Price outlier;
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True           False                 Price outlier;
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True           False                 Price outlier;
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15          True           False       False          False           False                  Missing data;
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01          True            True       False          False           False    Missing data; Invalid date;
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01          True           False       False          False           False                  Missing data;
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05          True           False       False          False           False                  Missing data;

In [194]:
missing_price = clean_df["price"].isna().sum()
print(missing_price)

5

In [238]:
price_missing = clean_df[
    clean_df["price"].isna() & 
    clean_df["name"].notna() &
    clean_df["id"].notna()]
print(price_missing[["name", "id", "price"]])

             name        id  price
5   Designer Coat  SKU-1006    NaN
42       Cardigan  SKU-1043    NaN
51           Coat  SKU-1052    NaN

In [196]:
count_products = len(clean_df["id"].notna())
print(count_products)

21

In [197]:
def product_count(clean_df):
    count_products = len(clean_df["id"].notna())
    return count_products
print(count_products)

21

In [202]:
def missing_price(clean_df):
    product_missing_price = (
        clean_df["id"].notna() &
        clean_df["price"].isna()).sum()
    return product_missing_price
print(product_missing_price)

NameError: name 'product_missing_price' is not defined

In [225]:
top_10_expensive = clean_df.nlargest(10, "price")
print(top_10_expensive)

          id           name     price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price    review_reason
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15         False           False       False           True           False  Price outlier;
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05         False           False       False           True           False  Price outlier;
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01         False           False       False           True           False  Price outlier;
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01         False           False       False           True           False  Price outlier;
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01         False           False       False           True           False  Price outlier;
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15         False           False       False           True           False  Price outlier;
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False  Price outlier;
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False   Invalid date;
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False   Invalid date;
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT          True           False       False          False           False   Missing data;

In [227]:
top_10_cheap = clean_df.nsmallest(10, "price")
print(top_10_cheap)

          id      name   price currency created_at updated_at  missing_data  date_violation  duplicates  price_outlier  negative_price                   review_reason
3        NaN    Jacket  -200.0      SEK        NaT        NaT          True           False       False          False            True  Missing data; Negative price;
14  SKU-1015    Hoodie   -50.0      SEK 2024-04-15 2024-04-15         False           False       False          False            True                Negative price;
13  SKU-1014   T-Shirt     0.0      SEK 2024-04-10 2024-04-10         False           False       False          False            True                Negative price;
7   SKU-1008    Gloves   120.0      NaN 2024-06-20 2024-06-20          True           False       False          False           False                  Missing data;
54  SKU-1055     Scarf   300.0      NaN 2025-02-05 2025-02-05          True           False       False          False           False                  Missing data;
2   SKU-1003    Shirts   450.0      SEK        NaT        NaT          True           False       False          False           False                  Missing data;
53  SKU-1054       NaN   450.0      SEK 2025-02-01 2025-02-01          True           False       False          False           False                  Missing data;
21  SKU-1022  Bracelet   500.0      SEK 2024-06-10 2024-06-03         False            True       False          False           False                  Invalid date;
9   SKU-1010     Boots  1500.0      SEK 2024-02-15 2024-02-14         False            True       False          False           False                  Invalid date;
15  SKU-1016      Coat  2500.0      SEK 2024-05-01 2024-05-01         False           False       False           True           False                 Price outlier;

In [226]:
extreme_outliers = clean_df[(clean_df["price"] < Q1) | (clean_df["price"] > upper_bound)]
top_10_outliers = extreme_outliers.sort_values("price", ascending=False).head(10)
print(top_10_outliers[["name", "price"]])

       name     price
38     Coat  999999.0
20     Ring   25000.0
19    Watch   15000.0
7    Gloves     120.0
13  T-Shirt       0.0
14   Hoodie     -50.0
3    Jacket    -200.0