In [19]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
import pandas as pd
raw_df = pd.read_csv("data/raw/products_raw.csv")
print(raw_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   pants   520      SEK  2024/02/15  2024/02/15
2  SKU-1003  shirts   450      SEK         NaN         NaN
3       NaN  jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [21]:
from pipeline.clean import clean_whitespace

clean_df = clean_whitespace(raw_df)
print(clean_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   pants   520      SEK  2024/02/15  2024/02/15
2  SKU-1003  shirts   450      SEK         NaN         NaN
3       NaN  jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [22]:
from pipeline.clean import case_normalization

clean_df = case_normalization(clean_df)
print(clean_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   Shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   Pants   520      SEK  2024/02/15  2024/02/15
2  SKU-1003  Shirts   450      SEK         NaN         NaN
3       NaN  Jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [24]:
from pipeline.clean import standardize_date_format

clean_df = standardize_date_format(clean_df)
print(clean_df.head())

         id    name price currency  created_at  updated_at
0  SKU-1001   Shoes   799      SEK  2024-01-10  2024-01-10
1  SKU-1002   Pants   520      SEK  2024-02-15  2024-02-15
2  SKU-1003  Shirts   450      SEK         NaN         NaN
3       NaN  Jacket  -200      SEK  2024-13-01  2024-13-01
4  SKU-1005     NaN   NaN      NaN         NaN         NaN

In [13]:
missing_df = clean_df["currency"]
print(missing_df.isna())

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54     True
Name: currency, dtype: bool

In [14]:
print(clean_df.isna())

       id   name  price  currency  created_at  updated_at
0   False  False  False     False       False       False
1   False  False  False     False       False       False
2   False  False  False     False        True        True
3    True  False  False     False       False       False
4   False   True   True      True        True        True
5   False  False   True     False       False       False
6    True  False  False     False        True        True
7   False  False  False      True       False       False
8   False  False  False     False       False       False
9   False  False  False     False       False       False
10  False  False  False     False       False       False
11  False  False  False     False       False       False
12  False  False  False     False       False       False
13  False  False  False     False       False       False
14  False  False  False     False       False       False
15  False  False  False     False       False       False
16  False  False  False     False       False       False
17  False  False  False     False       False       False
18  False  False  False     False       False       False
19  False  False  False     False       False       False
20  False  False  False     False       False       False
21  False  False  False     False       False       False
22  False  False  False     False       False       False
23  False  False  False     False       False       False
24  False  False  False     False       False       False
25  False  False  False     False       False       False
26  False  False  False     False       False       False
27  False  False  False     False       False       False
28  False  False  False     False       False       False
29  False  False  False     False       False       False
30  False  False  False     False       False       False
31  False  False  False     False       False       False
32  False  False  False     False       False       False
33  False  False  False     False       False       False
34  False  False  False     False       False       False
35  False  False  False     False       False       False
36  False  False  False     False       False       False
37  False  False  False     False       False       False
38  False  False  False     False       False       False
39  False  False  False     False       False       False
40  False  False  False     False       False       False
41  False  False  False     False       False       False
42  False  False   True     False       False       False
43  False  False  False     False       False       False
44  False  False  False     False       False       False
45  False  False  False     False       False       False
46  False  False  False     False       False       False
47  False  False  False     False       False       False
48  False  False  False     False       False       False
49  False  False  False     False       False       False
50  False  False  False     False       False       False
51  False  False  False     False       False       False
52  False  False  False     False       False       False
53  False   True  False     False       False       False
54  False  False  False      True       False       False

In [25]:
from pipeline.clean import convert_to_datetime

clean_df = convert_to_datetime(clean_df)
print(clean_df)

          id           name          price currency created_at updated_at
0   SKU-1001          Shoes            799      SEK 2024-01-10 2024-01-10
1   SKU-1002          Pants            520      SEK 2024-02-15 2024-02-15
2   SKU-1003         Shirts            450      SEK        NaT        NaT
3        NaN         Jacket           -200      SEK        NaT        NaT
4   SKU-1005            NaN            NaN      NaN        NaT        NaT
5   SKU-1006  Designer Coat            NaN      SEK 2024-05-01 2024-05-01
6        NaN            Hat           free      SEK        NaT        NaT
7   SKU-1008         Gloves            120      NaN 2024-06-20 2024-06-20
8   SKU-1009          Socks             99      SEK 2024-02-01 2024-02-01
9   SKU-1010          Boots           1500      SEK 2024-02-15 2024-02-14
10  SKU-1011          Scarf            200      SEK 2024-03-01 2024-03-01
11  SKU-1012           Belt            300      SEK 2024-03-10 2024-03-10
12  SKU-1013            Cap             75      SEK 2024-04-01 2024-04-01
13  SKU-1014        T-Shirt              0      SEK 2024-04-10 2024-04-10
14  SKU-1015         Hoodie            -50      SEK 2024-04-15 2024-04-15
15  SKU-1016           Coat           2500      SEK 2024-05-01 2024-05-01
16  SKU-1017          Jeans            800      SEK 2024-05-05 2024-05-05
17  SKU-1018       Sneakers           1200      SEK 2024-05-10 2024-05-10
18  SKU-1019        Sandals            400      SEK 2024-05-15 2024-05-15
19  SKU-1020          Watch          15000      SEK 2024-06-01 2024-06-01
20  SKU-1021           Ring          25000      SEK 2024-06-05 2024-06-05
21  SKU-1022       Bracelet            500      SEK 2024-06-10 2024-06-03
22  SKU-1023       Necklace            650      SEK 2024-06-15 2024-06-15
23  SKU-1024     Sunglasses            900      SEK 2024-07-01 2024-07-01
24  SKU-1025       Backpack           1100      SEK 2024-07-05 2024-07-05
25  SKU-1026       Umbrella            300      SEK 2024-07-10 2024-07-10
26  SKU-1027  Winter Jacket           3500      SEK 2024-07-15 2024-07-15
27  SKU-1028         Shorts            450      SEK 2024-08-01 2024-08-01
28  SKU-1029          Skirt            500      SEK 2024-08-05 2024-08-05
29  SKU-1030         Gloves            200      SEK 2024-08-10 2024-08-10
30  SKU-1031        Mittens            220      SEK 2024-08-15 2024-08-15
31  SKU-1032           Suit           5000      SEK 2024-09-01 2024-09-01
32  SKU-1033            Tie            150      SEK 2024-09-05 2024-09-05
33  SKU-1034         Blazer           2200      SEK 2024-09-10 2024-09-10
34  SKU-1035           Polo            600      SEK 2024-09-15 2024-09-15
35  SKU-1036       Leggings            350      SEK 2024-10-01 2024-10-01
36  SKU-1037      Tracksuit           1200      SEK 2024-10-05 2024-10-05
37  SKU-1038       Swimsuit            700      SEK 2024-10-10 2024-10-10
38  SKU-1039           Coat         999999      SEK 2024-10-15 2024-10-15
39  SKU-1040          Parka           4500      SEK 2024-11-01 2024-11-01
40  SKU-1041         Beanie            180      SEK 2024-11-05 2024-11-05
41  SKU-1042       Earmuffs            130      SEK 2024-11-10 2024-11-10
42  SKU-1043       Cardigan            NaN      SEK 2024-11-15 2024-11-15
43  SKU-1044           Vest            800      SEK 2024-12-01 2024-12-01
44  SKU-1045        Loafers           1100      SEK 2024-12-05 2024-12-05
45  SKU-1046       Sneakers           1000      SEK 2024-12-10 2024-12-10
46  SKU-1047          Heels           1500      SEK 2024-12-15 2024-12-15
47  SKU-1048      Flipflops            100      SEK 2024-12-20 2024-12-20
48  SKU-1049           Robe            900      SEK 2024-12-25 2024-12-25
49  SKU-1050        Pyjamas            600      SEK 2025-01-01 2025-01-01
50  SKU-1051     Suspenders            250      SEK 2025-01-05 2025-01-05
51  SKU-1052           Coat  not_available      SEK 2025-01-10 2025-01-01
52  SKU-1053            Cap             85      SEK 2025-01-15 2025-01-15
53  SKU-1054            NaN            450      SEK 2025-02-01 2025-02-01
54  SKU-1055          Scarf            300      NaN 2025-02-05 2025-02-05

In [26]:
print(clean_df["price"].dtype)

str

In [28]:
from pipeline.clean import convert_to_numeric

clean_df = convert_to_numeric(clean_df)
print(clean_df)

          id           name     price currency created_at updated_at
0   SKU-1001          Shoes     799.0      SEK 2024-01-10 2024-01-10
1   SKU-1002          Pants     520.0      SEK 2024-02-15 2024-02-15
2   SKU-1003         Shirts     450.0      SEK        NaT        NaT
3        NaN         Jacket    -200.0      SEK        NaT        NaT
4   SKU-1005            NaN       NaN      NaN        NaT        NaT
5   SKU-1006  Designer Coat       NaN      SEK 2024-05-01 2024-05-01
6        NaN            Hat       NaN      SEK        NaT        NaT
7   SKU-1008         Gloves     120.0      NaN 2024-06-20 2024-06-20
8   SKU-1009          Socks      99.0      SEK 2024-02-01 2024-02-01
9   SKU-1010          Boots    1500.0      SEK 2024-02-15 2024-02-14
10  SKU-1011          Scarf     200.0      SEK 2024-03-01 2024-03-01
11  SKU-1012           Belt     300.0      SEK 2024-03-10 2024-03-10
12  SKU-1013            Cap      75.0      SEK 2024-04-01 2024-04-01
13  SKU-1014        T-Shirt       0.0      SEK 2024-04-10 2024-04-10
14  SKU-1015         Hoodie     -50.0      SEK 2024-04-15 2024-04-15
15  SKU-1016           Coat    2500.0      SEK 2024-05-01 2024-05-01
16  SKU-1017          Jeans     800.0      SEK 2024-05-05 2024-05-05
17  SKU-1018       Sneakers    1200.0      SEK 2024-05-10 2024-05-10
18  SKU-1019        Sandals     400.0      SEK 2024-05-15 2024-05-15
19  SKU-1020          Watch   15000.0      SEK 2024-06-01 2024-06-01
20  SKU-1021           Ring   25000.0      SEK 2024-06-05 2024-06-05
21  SKU-1022       Bracelet     500.0      SEK 2024-06-10 2024-06-03
22  SKU-1023       Necklace     650.0      SEK 2024-06-15 2024-06-15
23  SKU-1024     Sunglasses     900.0      SEK 2024-07-01 2024-07-01
24  SKU-1025       Backpack    1100.0      SEK 2024-07-05 2024-07-05
25  SKU-1026       Umbrella     300.0      SEK 2024-07-10 2024-07-10
26  SKU-1027  Winter Jacket    3500.0      SEK 2024-07-15 2024-07-15
27  SKU-1028         Shorts     450.0      SEK 2024-08-01 2024-08-01
28  SKU-1029          Skirt     500.0      SEK 2024-08-05 2024-08-05
29  SKU-1030         Gloves     200.0      SEK 2024-08-10 2024-08-10
30  SKU-1031        Mittens     220.0      SEK 2024-08-15 2024-08-15
31  SKU-1032           Suit    5000.0      SEK 2024-09-01 2024-09-01
32  SKU-1033            Tie     150.0      SEK 2024-09-05 2024-09-05
33  SKU-1034         Blazer    2200.0      SEK 2024-09-10 2024-09-10
34  SKU-1035           Polo     600.0      SEK 2024-09-15 2024-09-15
35  SKU-1036       Leggings     350.0      SEK 2024-10-01 2024-10-01
36  SKU-1037      Tracksuit    1200.0      SEK 2024-10-05 2024-10-05
37  SKU-1038       Swimsuit     700.0      SEK 2024-10-10 2024-10-10
38  SKU-1039           Coat  999999.0      SEK 2024-10-15 2024-10-15
39  SKU-1040          Parka    4500.0      SEK 2024-11-01 2024-11-01
40  SKU-1041         Beanie     180.0      SEK 2024-11-05 2024-11-05
41  SKU-1042       Earmuffs     130.0      SEK 2024-11-10 2024-11-10
42  SKU-1043       Cardigan       NaN      SEK 2024-11-15 2024-11-15
43  SKU-1044           Vest     800.0      SEK 2024-12-01 2024-12-01
44  SKU-1045        Loafers    1100.0      SEK 2024-12-05 2024-12-05
45  SKU-1046       Sneakers    1000.0      SEK 2024-12-10 2024-12-10
46  SKU-1047          Heels    1500.0      SEK 2024-12-15 2024-12-15
47  SKU-1048      Flipflops     100.0      SEK 2024-12-20 2024-12-20
48  SKU-1049           Robe     900.0      SEK 2024-12-25 2024-12-25
49  SKU-1050        Pyjamas     600.0      SEK 2025-01-01 2025-01-01
50  SKU-1051     Suspenders     250.0      SEK 2025-01-05 2025-01-05
51  SKU-1052           Coat       NaN      SEK 2025-01-10 2025-01-01
52  SKU-1053            Cap      85.0      SEK 2025-01-15 2025-01-15
53  SKU-1054            NaN     450.0      SEK 2025-02-01 2025-02-01
54  SKU-1055          Scarf     300.0      NaN 2025-02-05 2025-02-05